* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-left{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.nav-right{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.nav-center{
    width: 50%;
}

.nav-logo {
    height: 50px;
    width: 132px;
    padding: 4px 12px 4px 12px;
}

.logo {
    background-image: url("amazon-icon.png");
    background-size: cover;
    background-blend-mode: normal;
    height: 50px;
    width: 100%;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;
}



/* delivery address box */

.nav-deliver{
    padding: 4px 7px 4px 7px;
}
.del-icon{
    display: flex;
    align-items: center;
}

.del-first{
    color: #cccccc;
    font-size: 0.8rem;
    margin: 0px 0px 0px 13px;
}

.del-second{
    color: #ffffff;
    font-size: 1rem;
    margin-left: 3px;
}

/* search box */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 750px;
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-search:hover{
    border: 2px solid #febd69;
}

.search-select{
    background-color: #f3f3f3 ;
    width: 100px;
    text-align: center;
    border: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0f1111;
    background-color: #febd69;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.nav-up{
    font-size: .8rem;
}

.nav-down{
    font-size: 0.85rem;
    font-weight: 700;
}

/* cart */

.nav-cart i {
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
