* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-left{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.nav-right{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.nav-center{
    width: 50%;
}

.nav-logo {
    height: 50px;
    width: 132px;
    padding: 4px 12px 4px 12px;
}

.logo {
    background-image: url("amazon-icon.png");
    background-size: cover;
    background-blend-mode: normal;
    height: 50px;
    width: 100%;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;
}



/* delivery address box */

.nav-deliver{
    padding: 4px 7px 4px 7px;
}
.del-icon{
    display: flex;
    align-items: center;
}

.del-first{
    color: #cccccc;
    font-size: 0.8rem;
    margin: 0px 0px 0px 13px;
}

.del-second{
    color: #ffffff;
    font-size: 1rem;
    margin-left: 3px;
}

/* search box */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 750px;
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-search:hover{
    border: 2px solid #febd69;
}

.search-select{
    background-color: #f3f3f3 ;
    width: 100px;
    text-align: center;
    border: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0f1111;
    background-color: #febd69;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.nav-up{
    font-size: .8rem;
}

.nav-down{
    font-size: 0.85rem;
    font-weight: 700;
}

/* cart */

.nav-cart i {
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* panel */
.panel{
    background-color: #232F3E;
    height: 40px;
    display: flex;
    color: #ffffff;
    align-items: center;
}

.panel-ops{
    display: flex;
    color: #ffffff;
}

.panel-ops p, .panel-all{
    margin: 5px 0px 6px 0px;
    padding: 8px 9px 8px 9px;
}

.body-top{
    background-image: url("banner-img.jpg");
    background-size: cover;
    height: 600px;
}

.body-mess{
    background-color: #ffffff;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.box a, .body-mess a{
    color: #007185;
}


.shop-section{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box{
    height: 380px;
    width: 21%;
    background-color: #ffffff;
    padding: 20px 0px 10px;
    margin-top: 20px;
}

.box-img{
    height: 300px;
}

.box-img6{
    height: 270px;
}
.box h2{
    margin-bottom: 10px;
}

.box-content{
    margin: 0px 10px 0px 10px;
}

.box p{
    margin-top: 10px;
    padding: 5px 0px 5px 0px;
}


/* footer */
.footer{
    margin-top: 20px;
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel2{
    background-color: #222f3d;
    height: 300px;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 40px;
}

ul p{
    font-size: 1.2rem;
}

ul a{
    display: block;
    font-size: 0.8rem;
    color: #dddddd;
    margin: 10px 0px 10px 0px;
}

.foot-panel3{
    background-color: #222f3d;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("amazon-icon.png");
    background-size: cover;
    background-blend-mode: normal;
    height: 50px;
    width: 130px;
}

.foot-panel4{
    background-color: #222f3d;
    color: white;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    text-align: center;
}

.pages{
    padding: 5px 0px 5px ;
}

.pages a {
    padding: 0px 8px 0px 8px;
}

.copyright{
    margin-top: 6px;
    padding: 3px 0px 5px ;
}
